<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.artifex.mupdfdemo"
	android:installLocation="auto">
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<supports-screens
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:anyDensity="true" />
	<application>

		<activity
			android:name="MuPDFActivity"
			
		android:hardwareAccelerated="true"
			android:label="@string/app_name">
			<!-- 			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="application/vnd.ms-xpsdocument"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="application/pdf"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="application/x-cbz"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:scheme="file"/>
				<data android:mimeType="*/*"/>
				<data android:pathPattern=".*\\.xps"/>
				<data android:host="*"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:scheme="file"/>
				<data android:mimeType="*/*"/>
				<data android:pathPattern=".*\\.pdf"/>
				<data android:host="*"/>
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:scheme="file"/>
				<data android:mimeType="*/*"/>
				<data android:pathPattern=".*\\.cbz"/>
				<data android:host="*"/>
			</intent-filter>
			-->
		</activity>
		<activity
			android:name="OutlineActivity"
			android:theme="@style/MuPDF.Theme.FullScreen"
			android:label="@string/outline_title">
		</activity>
		<activity
			android:name="PrintDialogActivity"
			android:theme="@style/MuPDF.Theme.FullScreen"
			android:label="@string/print">
		</activity>
	</application>
</manifest> 
